section.categoryes#goods
	.container
		.row
			.col-12.col-sm-4
				.categoryes__item
					.image
						img(src="static/images/content/types/1.png", alt="")
					h3.title Ясельная одежда
					span.age.skew-bg 0-3 года
			.col-12.col-sm-4
				.categoryes__item
					.image
						img(src="static/images/content/types/2.png", alt="")
					h3.title Ясельная одежда
					span.age.skew-bg 5-12 лет
			.col-12.col-sm-4
				.categoryes__item
					.image
						img(src="static/images/content/types/3.png", alt="")
					h3.title Ясельная одежда
					span.age.skew-bg 5-12 лет
