section.gallery
  h1 Галерея
  .container
    .gallery__list
      .gallery__slide
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
      .gallery__slide
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
      .gallery__slide
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
      .gallery__slide
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
      .gallery__slide
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
      .gallery__slide
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
        a(href="static/images/content/gallery/1.png")
          img(src="static/images/content/gallery/1.png")
