section.why#about
	.container
		.row.align-items-center
			.col-12.col-sm-5
				.why__title
					h2 Почему <br>
						span МЫ?
			.col-12.col-sm-7
				ul.why__list
					li Работаем без комиссий.
					li Отправляем заказ в течении суток после оформления.
					li Обмениваем брак без обсуждений.
					li Бесплатно доставляем каждый первый заказ.
					li У нас есть из чего выбрать. Мы шьем сами в цехах Турции, Китая и Кыргызстана, а также реализуем товары наших надежных поставщиков.
					li Отправляем заказы мелким оптом с минимальным закупом 100 долларов.