.header {
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	a {
		color: $white;
	}

	&__logo {

		img {
			width: 162px;
		}
	}

	&__nav {

		.mobile-nav {
			display: none;
		}

		ul {
			display: flex;
		}

		li {
			margin: 0 40px 0 0;

			&:last-child { margin: 0; }
		}

		a {
			text-transform: uppercase;
		}
	}

	&__phone {
		white-space: nowrap;
		font-size: 20px;
	}

	&__links {
		display: flex;
		position: absolute;
		right: 0;
		bottom: -5px;
		transform: translateY(100%);

		li {
			margin: 0 15px 0 0;

			&:last-child { margin: 0; }
		}

		img {
			width: 30px;
			height: auto;
		}
	}
}
